.env
.venv
__pycache__/
.env
keys/*.json
mlenv/
data/*.json

*.db
forecast.db
insider_trades.db
logs/
forecast_logs/
pages/logs/
data/
artifacts/
.streamlit/secrets.toml
!forecast_metrics.csv
/forecast_logs/*
!/forecast_logs/.gitkeep
# Ignore all logs in the folder…
/forecast_logs/*
# …but keep the folder itself and the keep file
!/forecast_logs/
!/forecast_logs/.gitkeep
!forecast_accuracy.db
!forecast_accuracy.db
